{% extends "public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}

            <table class="styled-table">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    </tr>
                </thead>    
                {% for user in all_users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                    </tr>
                {% endfor %} 
            </table>

{% endblock %}